body{
	min-width: 480px;
	font-family: 'Courgette', cursive;
	margin: 0;
	padding: 0;
	background-color: #010645;
}

header{
	background-color: #00abd4;
	overflow: auto;
}

.author-name{
	float: left;
	font-size: 40px;
	margin: 0 1.5vw;
	font-family: 'Lavishly Yours', cursive;
	text-decoration: none;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 2px #3b5a7d,
				-2px -2px 2px #3b5a7d,
				 2px -2px 2px #3b5a7d,
				-2px 2px 2px #3b5a7d;
}

.header-link{
	text-decoration: none;
	font-family: 'Tangerine', cursive;
	font-size: 5.5vmin;
	color: white;
	font-weight: bold;
	margin: 0;
	float: right;
	border: solid;
	margin: 0.4vw;
	padding: 0.1vw 0.5vw;
	background-color: #0094d4;
}